<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="author" content="Hrituja">
    <meta name="keywords" content="farmie,farm,farming,farms">
    <title>FARMIE | Shop</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>

  <body>

    <section id="welcome">
      <nav class="mnav">
        <div class="container">
            <img class="logo" src="/img/logo.jpg" alt="farmie-logo">
            <ul>
              <li><a href="/login">Login</a></li>
              <li><a href="/register">SignUp</a></li>
              <li><a href="/shop">Shop</a></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
      </nav>

      <div class="container">
        <h2 class="kit">KIT</h2>
        <div class="box">
          <div class="row">
            <div class="col-md-4 col-sm-12 styl">
              <img class="imag" src="/img/wifi.jpg" alt="">
            </div>
            <div class="col-md-4 col-sm-12 styl">
              <img class="imag" src="/img/ldr.jpg" alt="">
            </div>
            <div class="col-md-4 col-sm-12 styl">
              <img class="imag" src="/img/resistor.jpg" alt="">
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 col-sm-12 styl">
              <img class="imag" src="/img/battery.jpg" alt="">
            </div>
            <div class="col-md-4 col-sm-12 styl">
              <img class="imag" src="/img/usb.jpg" alt="">
            </div>
            <div class="col-md-4 col-sm-12 styl">
              <img class="imag" src="/img/box.jpg" alt="">
            </div>
          </div>
        </div>
        <a href="/address" class="button">BUY</a>
      </div>
      </section>

      <section id="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-sm-12">
              <h4>&copy; Copyright <span class="farm">Farmie</span> 2019</h4>
            </div>
            <div class="col-md-4 col-sm-12">
              <h4><i class="fa fa-phone"></i> : +91-8258926316</h4>
            </div>
            <div class="foot col-md-4 col-sm-12">
              <ul>
                <li><a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
              </ul>
            </div>          
          </div>
        </div>
      </section>
  </body>
  </html>
